<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded",() =>{
        var messages = ({{ messages | safe }} );
        
        localStorage.setItem('messages',messages);
        console.log(messages);
          
        var socket= io.connect(location.protocol + "//"+ document.domain +":"+ location.port);
        // const ul = document.getElementById("messages");
        for (i=0;i<= messages.length -1;i++) {
            print_message(messages[i]);
            };


        socket.on('connect', () => {
            document.querySelector("#send").onclick = () => {
                message = document.querySelector("input").value;
                socket.emit('Send message',{'message': message, "channel_name": "{{ channel_name | safe }}" });
            };
        socket.on('message sent', data => {
            
            print_message(data);
            messages.push(data);
            localStorage.setItem('messages',JSON.stringify(messages));
        });
        });

    
    
    });
    function print_message(message){
        const ul = document.getElementById("messages");
        const li = document.createElement("li");
        const p= document.createElement("p");
        // p.innerText= message;
        // p.innerHTML=message;
        // li.appendChild=p;
        li.innerHTML=message;
        ul.append(li);
        
    }
    </script>
    <title>{{ channel_name }}</title>
</head>
<body>
    <div class = "container">
        <div class = "message box">
            <ul id = "messages">
                
                
                
            </ul>
        </div>
        <div id = "chatbox">
            <input name = "message" type = "text">
            <button class = "btn btn-primary" id = "send">Send</button>
        </div>
    </div>
    
</body>
</html>