{% extends "layout.html" %}
{% block javascript %}
<script>
        
    function withoutUserName () {
        alert("You have not given a username");
        
    }
    function alreadyonpage() {
        alert("You are already on the home page")

    }
</script>
{% endblock %}


{% block title %}
<title>Flack | Home</title>
{% endblock %}


{% block body %}
<div class = 'container'>
    <form action="{{ url_for('login') }}" method="post">
        <p>Enter Your Username</p>
        <input name ="username" type = "text" id = "user">
        <button class = 'btn btn-primary'>Submit</button>
    </form>
</div>
{% endblock %}