<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded",() => {
            // Getting data from local storage such as username and channels
            if(!localStorage.getItem('username'))
            
            localStorage.setItem('username',`{{ username | safe }}`);
            
            if(!localStorage.getItem('channels')){
            var channels = new Array("bot");
            localStorage.setItem('channels',JSON.stringify(channels));
            
            }
            else{
            var channels = JSON.parse(localStorage.getItem('channels'));
            console.log("Channels got from local Storage");
            }
            console.log(channels);
            
            var socket=io.connect(location.protocol+ "//"  + document.domain + ":" + location.port);
            // To display results fetched from local storage
            for(i =0 ; i<= channels.length -1;i++){
            console.log(channels[i]);
            var channel_name = channels[i];
            enter_channel(channel_name);
            };
            // Whenever a channel is being created
            socket.on('connect', () => {
                document.querySelector("#form").onsubmit = () => {
                    channel_name = (document.querySelector("#channel_name").value);
                    enter_channel(channel_name);
                    channels.push(channel_name);
                    localStorage.setItem('channels',JSON.stringify(channels));
                    socket.emit('create channel', {"channel_name": channel_name});
             };
            });
            
        });
        function enter_channel (channel_name) {
            const ul = document.querySelector("#names");
            const li = document.createElement("li");
            
            const a = document.createElement("a");
            a.href= "{{ url_for('channel', channel_name = 'channelName') }}".replace("channelName",channel_name) ;
            a.innerHTML=channel_name;
            li.appendChild(a);
            ul.append(li);
        }
    </script>
    <title>Main Menu</title>
</head>
<body>
    <div class = "container">
        <h1>Channels</h1>
        <ul id ="names">
        </ul>
        <hr>
        <h3>Want to create a new channel</h3>
        <form id = "form">
            <p>Enter Channel name</p>
            <input type="text" name = "channel name" id ='channel_name'>
            <button class = 'btn btn-primary' id = "create"> Submit</button>
        </form>
    </div>
</body>
</html>